* {
  box-sizing: border-box;
}

body {
  background-color: dodgerblue;
}

.question-container,
.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.question-container {
  margin: 3em;
  padding: 2em;
  background-color: white;
  border-radius: 6px;
}

.question-num {
  text-align: left;
}

.answer-btn {
  padding: 3px;
  margin-top: 1.5em;
}

.hide {
  display: none;
}
