/* base styles */
* {
  box-sizing: border-box;
}

body {
  background-color: dodgerblue;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-bottom: 0;
}

.question-container,
.answer-container1,
.answer-container2,
.answer-container3,
.answer-container4,
.answer-container5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.question-container {
  margin: .5em 3em;
  padding: 2em;
  background-color: white;
  border-radius: 6px;
}

.question-num {
  text-align: left;
}

.answer-btn {
  padding: 3px;
  margin: 1.5em auto 0 auto;
  width: 50%;
}

button:hover {
  transform: scale(1.25);
  transition: all 0.3s ease;
}

#correct {
  color: green;
}

#incorrect {
  color: red;
}

.nxt-btn {
  text-align: center;
  margin: 0 auto;
}

.hide {
  display: none;
}
